<%- include("../partials/header") %>
  <div class="row" style="margin:3%;">
	  <div class="col-6" style="margin:auto;border:1px solid gray;">
		<h3>Username : <%= user.username%></h3><br>
<h3>First Name : <%= user.firstName%></h3><br>
<h3>Last Name : <%= user.lastName%></h3><br>
<h3>Email : <%= user.email%></h3>
	  </div>
</div>

<%- include("../partials/footer") %>
